//
// footer.scss
// Theme component
//

// Brand image

.bg-dark{
  background-color: #211f2d !important;
}

.bg-dark .footer-brand {
  filter: brightness(0) invert(1);
}

.footer-brand {
  height: 3rem;
}

ul > li > a {
  display: block;
  font-size: $font-size-xs;
}