<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      
      <!-- Card -->
      <div class="card card-border border-secondary shadow-light-lg" data-jarallax-element="-40">
        <div class="card-body m-auto">
          <button id="typeform_contact" class="navbar-btn btn btn-sm btn-primary lift m-1">
            Envoyer une demande
          </button>
        </div>
      </div>

    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->