<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      
      <!-- Card -->
      <div class="card card-border border-primary shadow-light-lg" data-jarallax-element="-40">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-11">
          
              <!-- Heading -->
              <h3 class="font-weight-bold text-center mb-1">
                Vous êtes professionnels de l'automobile ? 
              </h3>

              <!-- Text -->
              <p class="font-size-lg text-center text-muted mb-6 mb-md-8">
                Un expert vous recontacte
              </p>

              <!-- Form -->
              <form>
                <div class="row">
                  <div class="col-12 col-md-6">

                    <!-- First name -->
                    <div class="form-group">
                      <input type="text" class="form-control" id="registrationFirstName" placeholder="Prénom">
                      <!-- <label for="registrationFirstName">Prénom</label> -->
                    </div>

                  </div>
                  <div class="col-12 col-md-6">

                    <!-- Last name -->
                    <div class="form-group">
                      <input type="text" class="form-control" id="registrationLastName" placeholder="Nom">
                      <!-- <label for="registrationLastName">Nom</label> -->
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">

                    <div class="form-group">
                      <input type="text" class="form-control" id="registrationFirstName" placeholder="Code Postal">
                      <!-- <label for="registrationFirstName">Code Postal</label> -->
                    </div>

                  </div>
                  <div class="col-12 col-md-6">

                    <div class="form-group">
                      <input type="text" class="form-control" id="registrationLastName" placeholder="Téléphone">
                      <!-- <label for="registrationLastName">Téléphone</label> -->
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <!-- Email -->
                    <div class="form-group">
                      <input type="email" class="form-control" id="registrationEmail" placeholder="Email">
                      <!-- <label for="registrationEmail">Email</label> -->
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <!-- <label for="vous">Vous êtes ?</label> -->
                      <select id="vous" type="text" class="custom-select" placeholder="Vous êtes?">
                        <option hidden>Vous êtes ?</option>
                        <option>professionnel de l'auto</option>
                        <option>gestionnaire de flotte</option>
                        <option>automobiliste</option>   
                        <option>autre</option>  
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <!-- <label for="contactMessage">
                        Message
                      </label> -->
                      <textarea class="form-control" id="contactMessage" rows="2" placeholder="Message"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-6">
                    
                    <!-- Submit -->
                    <button class="btn btn-block btn-primary mt-3 lift">
                      Request a demo
                    </button>

                  </div>
                </div>

              </form>
            
            </div>
          </div> <!-- / .row -->
        </div>
      </div>

    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->