<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      
      <!-- Card -->
      <div class="card card-border border-secondary shadow-light-lg" data-jarallax-element="-40">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-11">
          
              <!-- Heading -->
              <h3 class="font-weight-bold text-center mb-1">
                Vous souhaitez découvrir Convoicar ? 
              </h3>

              <!-- Text -->
              <p class="font-size-lg text-center text-muted mb-6 mb-md-8">
                Un membre de notre équipe vous recontacte
              </p>

              <!-- Form -->
              <form action="https://formsubmit.co/070688fd3b91e3b1c100b38a2392c6d2" method="POST" />

                <input type="hidden" name="_webhook" value="https://script.google.com/macros/s/AKfycbywJpSut4RXrRnCmV41j-Q7JbuhrkC9g05sOZ8uJJ2uZFYLk-U/exec">
                <!-- <input type="hidden" name="_next" value="https://www.convoicar.fr/thanks.html"> -->
                <input type="hidden" name="_subject" value="Nouveau Contact Convoicar">
                <input type="hidden" name="_captcha" value="false">

                <div class="row">
                  <div class="col-12 col-md-6">

                    <!-- First name -->
                    <div class="form-group">
                      <input type="text" name="firstName" class="form-control" id="registrationFirstName" placeholder="Prénom *" required>
                      <!-- <label for="registrationFirstName">Prénom</label> -->
                    </div>

                  </div>
                  <div class="col-12 col-md-6">

                    <!-- Last name -->
                    <div class="form-group">
                      <input type="text" name="lastName" class="form-control" id="registrationLastName" placeholder="Nom *" required>
                      <!-- <label for="registrationLastName">Nom</label> -->
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">

                    <div class="form-group">
                      <input type="number" name="codePostal" class="form-control" id="registrationFirstName" placeholder="Code Postal *" required>
                      <!-- <label for="registrationFirstName">Code Postal</label> -->
                    </div>

                  </div>
                  <div class="col-12 col-md-6">

                    <div class="form-group">
                      <input type="tel" name="phone" class="form-control" id="registrationLastName" placeholder="Téléphone *" required>
                      <!-- <label for="registrationLastName">Téléphone</label> -->
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <!-- Email -->
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" id="registrationEmail" placeholder="Email *" required>
                      <!-- <label for="registrationEmail">Email</label> -->
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <!-- <label for="vous">Vous êtes ?</label> -->
                      <select id="vous" name="profession" type="text" class="custom-select" placeholder="Vous êtes? *" required>
                        <option hidden>Vous êtes ?</option>
                        <option>professionnel de l'auto</option>
                        <option>gestionnaire de flotte</option>
                        <option>automobiliste</option>   
                        <option>autre</option>  
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <!-- <label for="contactMessage">
                        Message
                      </label> -->
                      <textarea class="form-control" name="message" id="contactMessage" rows="2" placeholder="Message"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-6">
                    
                    <!-- Submit -->
                    <button type = "submit" class="btn btn-block btn-secondary mt-3 lift">
                      Découvrir Convoicar
                    </button>

                  </div>
                </div>

              </form>
            
            </div>
          </div> <!-- / .row -->
        </div>
      </div>

    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->