  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 text-center" data-aos="fade-up">
        
        <!-- Icon -->
        <div id="allianz">

        </div>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          L'ensemble des prestations sont couvertes par l'assureur Allianz
        </p>

      </div>
      <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="icon text-primary mb-3">
         
        </div>

        <!-- Heading -->
        <h3>
          No heading
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          Respect des mesures sanitaires
        </p>

      </div>
      <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
          
        <!-- Icon -->
        <div class="icon text-primary mb-3">
          
        </div>

        <!-- Heading -->
        <h3>
          Documentation for everything
        </h3>

        <!-- Text -->
        <p class="text-muted mb-0">
          Satisfaction client : 98% des automobilistes réutilisent nos services
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
