  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-4 text-center" data-aos="fade-up">
        
        <!-- Icon -->
        <div class="mb-5" id='bouclier'>
        </div>
        <h3>
          Assurance
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          L'ensemble des prestations sont couvertes par l'assureur <span id="allianz"></span>
        </p>

      </div>
      <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="50">

        <!-- Icon -->
        <div class="mb-5" id="facemask">
        </div>
        <h3>
          Sureté
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          Respect des mesures sanitaires
        </p>

      </div>
      
      <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
          
        <!-- Icon -->
        <div class="mb-5" id="customerreview">
        </div>
        <h3>
          Qualité
        </h3>

        <!-- Text -->
        <p class="text-muted mb-0">
          Satisfaction client : <span class="text-dark"><b>98%</b></span> des automobilistes réutilisent nos services
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
