<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Primary Meta Tags -->
<title>@@pageTitle</title>
<meta name="title" content="kitts.io : un channel manager pour votre flotte">
<meta name="description" content="Avec kitts.io, vous louez vos véhicules sur plusieurs plateformes de réservation, qui sont automatiquement synchronisées par API. Vous maximisez vos revenus et vous minimisez vos risques.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://kitts.io/">
<meta property="og:title" content="kitts.io : un channel manager pour votre flotte">
<meta property="og:description" content="Avec kitts.io, vous louez vos véhicules sur plusieurs plateformes de réservation, qui sont automatiquement synchronisées par API. Vous maximisez vos revenus et vous minimisez vos risques.">
<meta property="og:image" content="https://kitts.io/assets/img/kitts-img/kitts_color.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://kitts.io/">
<meta property="twitter:title" content="kitts.io : un channel manager pour votre flotte">
<meta property="twitter:description" content="Avec kitts.io, vous louez vos véhicules sur plusieurs plateformes de réservation, qui sont automatiquement synchronisées par API. Vous maximisez vos revenus et vous minimisez vos risques.">
<meta property="twitter:image" content="https://kitts.io/assets/img/kitts-img/kitts_color.png">

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/Feather/feather.css">
<link rel="stylesheet" href="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/aos/dist/aos.css">
<link rel="stylesheet" href="@@webRoot/node_modules/choices.js/public/assets/styles/choices.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity-fade/flickity-fade.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity/dist/flickity.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css">
<link rel="stylesheet" href="@@webRoot/node_modules/jarallax/dist/jarallax.css">
<link rel="stylesheet" href="@@webRoot/node_modules/quill/dist/quill.core.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/@fortawesome/fontawesome-free/css/all.min.css">

<!-- Map -->
<!-- <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' /> -->

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<!-- endbuild -->


