<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@container d-flex justify-content-around">

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot">
      <img src="@@webRoot/assets/img/brikks.svg" class="navbar-brand-img" alt="Convoicar Services de Jockey">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarLandings" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Nos services <i class="fas fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccount dropdownMenuLink">
            <li>
              <a class="dropdown-item" href="@@webRoot/service-gestion-mobilite-douce" >
                <img height=25 src="@@webRoot/assets/img/icons/APV.png"/> Gestion de la mobilité douce
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="@@webRoot/service-gestion-vehicule-courtoisie">
                <img height=25 src="@@webRoot/assets/img/icons/Livraison.png"/> Gestion des véhicules de courtoisie
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="@@webRoot/service-gestion-de-jockey">
                <img height=25 src="@@webRoot/assets/img/icons/Transfert.png"/> Gestion des services de jockey
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarPages" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Notre offre <i class="fas fa-angle-down"></i>
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarAccount  dropdownMenuLink">
            <li>
              <a class="dropdown-link" href="@@webRoot/la-plateforme">
                <img height=25 src="@@webRoot/assets/img/icons/portable.png"/> Plateforme de gestion
              </a>
            </li>
            <li>
              <a class="dropdown-link" href="@@webRoot/audit-besoins">
                <img height=25 src="@@webRoot/assets/img/icons/portable.png"/> Audit des besoins de mobilités
              </a>
            </li>
            <li>
              <a class="dropdown-link" href="@@webRoot/offre-jockey">
                <img height=25 src="@@webRoot/assets/img/icons/t-shirt.png"/> Services de jockey externalisés
              </a>
            </li>
            <li>
              <a class="dropdown-link" href="@@webRoot/offre-genius">
                <img height=25 src="@@webRoot/assets/img/icons/t-shirt.png"/> Genius
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarAccount" href="@@webRoot/devenir-jockey" aria-haspopup="true" aria-expanded="false">
            Devenir Jockey
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/qui-sommes-nous" aria-haspopup="true" aria-expanded="false">
            À propos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
        </li>
      </ul>

      <!-- Button -->
      <ul class="navbar-nav ml-auto">
        <a class="navbar-btn btn btn-sm btn-primary-soft lift m-1" href="https://client.convoicar.fr/" target="_blank">
          Se connecter
        </a>
        <a class="navbar-btn btn btn-sm btn-primary lift m-1" href="@@webRoot/contact" target="_blank">
          Demandez une démo
        </a>
      </ul>

    </div>

  </div>
</nav>
