<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@container d-flex justify-content-around">

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/img/convoicar_services.png" class="navbar-brand-img" alt="Convoicar Services de Jockey">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarLandings" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Nos services <i class="fas fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccount dropdownMenuLink">
            <li>
              <a class="dropdown-item" href="@@webRoot/service_apvente.html" >
                <img height=25 src="@@webRoot/assets/img/icons/APV.png"/> Après-vente
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="@@webRoot/service_livraison.html">
                <img height=25 src="@@webRoot/assets/img/icons/Livraison.png"/> Livraison VN/VO
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="@@webRoot/service_carsharing.html">
                <img height=25 src="@@webRoot/assets/img/icons/Transfert.png"/> Transfert/Auto-partage
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarPages" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Notre offre <i class="fas fa-angle-down"></i>
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarAccount">
            <li class="dropdown-item">
              <a class="dropdown-link" href="@@webRoot/plateforme.html">
                Plateforme digitale
              </a>
            </li>
            <li class="dropdown-item">
              <a class="dropdown-link" href="@@webRoot/jockey.html">
                Les jockeys
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarAccount" href="@@webRoot/careers.html" aria-haspopup="true" aria-expanded="false">
            Devenir Jockey
          </a>
        </li>
      </ul>

      <!-- Button -->
      <ul class="navbar-nav ml-auto">
        <a class="navbar-btn btn btn-sm btn-primary-soft lift m-1" href="https://client.convoicar.fr/" target="_blank">
          Se connecter
        </a>
        <a class="navbar-btn btn btn-sm btn-primary lift m-1" href="@@webRoot/contact.html" target="_blank">
          Demandez une démo
        </a>
      </ul>

    </div>

  </div>
</nav>
